.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 25, 28);
    border-bottom: 1px solid #eaeaea;
}

.navbar .logo{
    margin: 10px;
}

.navbar a{
    text-decoration: none;
    color: #eaeaea;
    font-size: 1.2rem;
    margin: 0 10px;
}

.navbar a:hover{
    background-color: #eaeaea;
    color: black;
    padding: 5px;
    border-radius: 5px;
}
